{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Şifre Sıfırlama Talebi Gönderildi</title>
    <link rel="stylesheet" href="{% static 'dist/css/login-page.css' %}">
</head>
<body>
    <div class="container">
        <h2>Şifre Sıfırlama Talebi Gönderildi</h2>
        <p>E-posta adresinize bir şifre sıfırlama bağlantısı gönderdik. Lütfen e-postanızı kontrol edin.</p>
    </div>
</body>
</html>
