{% extends 'base.html' %}


{% block title %}

  {% if object %}
   {{ object }}'ın bilgilerini güncelliyorsunuz.
  {% else %}
    Kursiyer Kayıt
  {% endif %}

{% endblock title %}


{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% include 'corecode/form_snippet.html' %}

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Öğrenciyi Güncelle">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Öğrenciyi Kaydet">
  {% endif %}
</form>


{% endblock content %}
